/* general*/
.titulo_selecciones {
  display: flex;
  justify-content: center;
  color: aquamarine; }

.titulo_top {
  display: flex;
  justify-content: center;
  margin-bottom: 5%; }

.main__container {
  display: grid;
  grid-template-areas: "img_main parrafo_main";
  grid-template-columns: 50%,50%;
  grid-template-rows: auto,auto; }

.index__main__grid {
  grid-area: main; }

ul {
  left: 0;
  top: 50%;
  text-align: center;
  display: block;
  background: none;
  min-height: 100px; }

.tabla__messi {
  align-content: center;
  margin-top: 20px;
  margin-bottom: 200px; }

.img__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: auto;
  width: 90%;
  float: left;
  position: relative; }

/* .main__parrafo{background-image: radial-gradient(white,black,white)} */
/* MOBILE */
@media screen and (max-width: 768px) {
  body {
    background-color: brown; }
  .logo__animado {
    display: flex;
    display: block;
    margin: auto;
    /* width: 150px;
    height: 50px; */ }
  ul {
    flex-wrap: wrap; }
  #imagen__messi__main, .img__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: auto;
    width: 90%;
    float: left; }
  .main__parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    float: right; } }

/* Fin MOBILE */
.grid__header {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* TABLET */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: #3a3a3a; }
  .logo__header {
    display: flex;
    width: 150px;
    height: 50px; }
  ul {
    flex-wrap: wrap; }
  #imagen__messi__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: auto;
    width: 90%;
    float: left; }
  .main__parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    float: right; } }

/* FIN TABLET */
/* ANIMACIONES GENERALES */
.logo__animado {
  animation: animacion_main 1s ease 0s infinite normal forwards; }

.redes__sociales__footer {
  animation: logos_redes 1s ease 0s infinite normal forwards; }

@keyframes logos_redes {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }

.navbar-light .navbar-nav .nav-link {
  color: aliceblue; }

.logo__header {
  position: absolute;
  margin: 0px 15px 15px 10px;
  left: 0;
  display: inline; }

.navbar-toggler-icon {
  background: #ffff;
  /* border-radius: 50%; */
  background-image: url(../images/hamburguesa.png);
  width: 50px;
  height: 50px; }

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent; }

.navbar-toggler span {
  padding: 7px; }

.footer {
  background-color: #202A44; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.instagram__logo, .facebook__logo, .youtube__logo {
  margin-right: 20px; }

.redes__sociales__footer {
  display: flex;
  align-content: flex-end; }

.links__footer {
  list-style: none; }

#imagen__messi__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: auto;
  width: 60%;
  float: left;
  grid-area: img_main; }

.main__parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: medium;
  overflow: hidden;
  grid-area: parrafo_main; }

.tabla__players__stats {
  display: flex;
  justify-content: center; }

.tabla__stats {
  display: flex;
  justify-content: center; }

body {
  color: white;
  background-color: black; }

.card-text {
  display: flex;
  justify-content: center;
  color: black; }

.card-title {
  display: flex;
  justify-content: center;
  color: black; }

.card-subtitle {
  display: flex;
  justify-content: center; }

.valores_mercado_body {
  background-color: #d45252; }

.titulo_arg {
  display: flex;
  justify-content: center;
  font-family: 'Rubik Mono One', sans-serif; }

.body_contacto {
  background-color: #1e1414; }
