@mixin main-position{
    display: flex;
      flex-direction: column;
      align-items: center;
  }

  @mixin tables-position{
    display: flex;
    justify-content: center;
}

#imagen__messi__main{
    @include main-position;
      margin: 20px;
      height: auto;
      width: 60%;
      float: left; 
      grid-area:img_main;
     }
  .main__parrafo{
    @include main-position;
    display: flex;
        flex-direction: column;
        align-items: center;
  text-align:center;
  font-size: 60px;
  overflow: hidden;
  grid-area: parrafo_main;
  }


  .tabla__players__stats{
    @include tables-position;
  }
  .tabla__stats{
    @include tables-position;
  }