.navbar-light .navbar-nav .nav-link{
    color: aliceblue;
  }

  .logo__header{
    position:absolute;
      margin:0px 15px 15px 10px;
      left: 0;
      display:inline;
   
  }


  ul {
    left: 0;
    top: 50%;
    text-align: center;
    display: block;
    background:none;
    min-height: 100px;       
  }
  li {
    display: inline-block;
    height: 100%;
  }
   li a {
    display: inline-block;
    color:$blanco;
    background:none;
    line-height: 100px;          
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin: 0;
    height: 100%;} 


    