.navbar-light .navbar-nav .nav-link{
    color: aliceblue;
  }

  .logo__header{
    position:absolute;
      margin:0px 15px 15px 10px;
      left: 0;
      display:inline;
   }
   
   .navbar-toggler-icon {
    background: #ffff;
    /* border-radius: 50%; */
    background-image:url(../images/hamburguesa.png);
    width: 50px;
    height:50px;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-toggler span {
    padding:7px;
}

a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(244, 247, 244);
  transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}

    