.card-text{
    display: flex;
    justify-content: center;
    color: black;
}

.card-title{
    display: flex;
    justify-content: center;
    color: black;
}

.card-subtitle{
    display: flex;
    justify-content: center;
}

.valores_mercado_body{
    background-color: rgb(212, 82, 82);
}